---
layout: default
---

<div class="container main-container">
	<div class="row">
		<div class="col-md-4">
			<div class="page-box text-center" style="background-color: {{ page.box-color }};">
				<div class="image-box">	
					<img loading="lazy" src="{{ page.images }}" alt="{{ page.alt }}">
				</div>
				<div class="title-box">
					<h1>{{ page.title }}</h1>
				</div>
			</div>				
		</div>
		<div class="col-md-8 info-container" style="border-color: {{ page.box-color }}">
			{{ content }}					
		</div>
	</div>
</div>
	